div(data-ng-include='"components/navbar/navbar.html"')

.container
    h1.page-header Nav

    ul.list-group
        li.list-group-item(data-ng-repeat="nav in navs")
            span {{ $index + 1 }}.&ensp;

            a(href="{{ nav.link }}", title="{{ nav.title }}") {{ nav.title }}

            button.close(type="button", data-ng-show="isAdmin()", data-ng-click="deleteNav(nav)") ×

    form.well(data-ng-show="isAdmin()")
        .form-group
            label Title

            input.form-control(type="text", placeholder="Title", data-ng-model="newNav.title")

        .form-group
            label Link

            input.form-control(type="text", placeholder="Link", data-ng-model="newNav.link")

        button.btn.btn-primary(type="submit", data-ng-click="addNav()") Add New
