div(ng-include="'components/navbar/navbar.html'")

.container
    ul.list-group
        li.list-group-item(ng-repeat='user in adminCtrlAs.users')
            strong {{ user.name }}

            br

            span.text-muted {{ user.email }}

            a.trash(ng-click="adminCtrlAs.delete(user)")
                span.fa.fa-trash.pull-right
