div(data-ng-include="'components/navbar/navbar.html'")

.container
    div(data-plugin-form, type="description")

    div(data-plugin-form, type="form")

    ul.list-group
        li.list-group-item(data-ng-repeat="plugin in plugins | orderBy:predicate")
            span {{ plugin.order }}.&ensp;

            button.close(type="button", data-ng-show="isAdmin()", data-ng-click="deletePlugin(plugin)") ×

            a(data-ng-href="/plugins/{{ plugin._id }}", title="{{ plugin.name }}") {{ plugin.name }}

            p {{ plugin.idPage }}

