form.well(data-ng-show="isAdmin()")
    .form-group
        label Title

        input.form-control(type="text", placeholder="Title", data-ng-model="page.title")

    .form-group
        label Parent

        select.form-control(data-ng-model="page.parent")
            option(data-ng-repeat="parent in parents", value="{{ parent }}") {{ parent }}

    .form-group
        label Link

        input.form-control(type="text", placeholder="Link", data-ng-model="page.link")

    button.btn.btn-primary(type="submit", data-ng-click="editPage()") Add New
