div(data-ng-include="'components/navbar/navbar.html'")

.container
    h1.plugin-header {{ plugin.name }}
        button.close(type="button", data-ng-show="isAdmin()", data-ng-click="deletePlugin(plugin)") ×

    p Order: {{ plugin.order }}
    p Page id: {{ plugin.idPage }}

    form.well(data-ng-show="isAdmin()")
        .form-group
            label Name

            input.form-control(type="text", placeholder="Name", data-ng-model="plugin.name")

        .form-group
            label Page id

            select.form-control(data-ng-repeat="page in pages", data-ng-model="plugin.idPage")
                option(value="{{ page._id }}") {{ page.title }}

        .form-group
            label Plugin order

            input.form-control(type="nubmer", placeholder="Plugin order", data-ng-model="plugin.order")

        button.btn.btn-primary(type="submit", data-ng-click="editPlugin()") Add New
