div(data-ng-include="'components/navbar/navbar.html'")

.container
    h1.page-header Pages

    form.well(data-ng-show="isAdmin()")
        .form-group
            label Title

            input.form-control(type="text", placeholder="Title", data-ng-model="newPage.title")

        .form-group
            label Link

            input.form-control(type="text", placeholder="Link", data-ng-model="newPage.link")

        button.btn.btn-primary(type="submit", data-ng-click="addPage()") Add New

    ul.list-group
        li.list-group-item(data-ng-repeat="page in pages")
            span {{ $index + 1 }}.&ensp;

            a(href="/{{ page.link }}", title="{{ page.title }}") {{ page.title }}

            button.close(type="button", data-ng-show="isAdmin()", data-ng-click="deletePage(page)") ×
