div(data-ng-include="'components/navbar/navbar.html'")

.container
    h1.page-header Pages

    form.well(data-ng-show="isAdmin()")
        .form-group
            label Title

            input.form-control(type="text", placeholder="Title", data-ng-model="newPage.title", data-ng-change="setLink(newPage.title)")

        .form-group
            label Parent

            select.form-control(data-ng-model="newPage.parent")
                option(data-ng-repeat="parent in parents", value="{{ parent._id }}") {{ parent.title }}

        .form-group
            label Link

            input.form-control(type="text", placeholder="Link", data-ng-model="newPage.link")

        button.btn.btn-primary(type="submit", data-ng-click="addPage()") Add New

    ul.list-group
        li.list-group-item(data-ng-repeat="page in pages")
            span {{ $index + 1 }}.&ensp;

            a(data-ng-href="{{ getURL(page.parent.title, page.link) }}", title="{{ page.title }}") {{ page.title }}

            br

            span(data-ng-show="page.parent") {{ page.parent }}

            button.close(type="button", data-ng-show="isAdmin()", data-ng-click="deletePage(page)") ×
